body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header{
  background-color: #1f005d;
  width: 100%;
}

main{
  display: flex;
}

.formulario{
  background-color: #3e23751e;
  flex-basis: 35%;
}

.cv{
  flex-basis: 65%;
  display: flex;
  padding: 0.8rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.cv__encabezado{
  position: absolute;
  background-color: #1f005d;
  width: 100%;
  top: 1.8rem;
  color:white;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.encabezado_contenedor {
  max-width: 85%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.encabezado__portada {
  width: 140px;
  height: 140px;
  border: 10px solid #fefeff;
  border-radius: 50%;
  background-image: url("img/Carpincho\ esperando\ frente\ a\ un\ rio.png");
  background-position: center;
  background-size: cover;
  margin: -0.5rem 0;
  z-index: 1;
}

.encabezado_nombresYprofesion {
  display: flex;
  flex-direction: column;
  color:#fefeff;
  justify-content: center;
}


.cv__izquierdo{
  padding: 11rem 0 0 0;
  background-color: #e6e1f3;
  flex-basis: 35%;
}
.cv__derecho{
  padding: 11rem 0 0 1rem;
  flex-basis: 65%;
  
}

.contacto__contenedor{
  width: 96%;
  
}
.contacto_lista {
  list-style-type: none;
}
.contacto_lista li{
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-top: 0.7rem;
  justify-content: space-between;
}
.contacto__titulo {
  background-color: #1f005d;
  border-right: 1px solid transparent;
  border-top-right-radius: 0.35rem;
  border-bottom-right-radius: 0.35rem;
  border-color: #1f005d;
  padding: 0.2rem;
  color: white;
  text-align: center;
}

.contacto__subtitulo {
  padding-left: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0rem;
}
.contacto__subtitulo::before {
  content: "";
  width: 0.35rem;
  height: 0.35rem;
  background: #000;
  border-radius: 100%;
  position: absolute;
  left: 0.5rem;
}

