body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header{
  background-color: #1f005d;
  width: 100%;
}

main{
  display: flex;
}

@media only screen and (max-width: 800px) {
  main { 
    flex-direction: column;  
  }
}

.formulario{
  background-color: #3e23751e;
  flex-basis: 35%;
}

.cv{
  display: flex;
  padding: 0.8rem;
  position: relative;
  overflow: hidden;
  flex-basis: 65%;
}

.cv__encabezado{
  position: absolute;
  background-color: #1f005d;
  width: 100%;
  top: 1.8rem;
  color:white;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.encabezado_contenedor {
  max-width: 85%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.encabezado__portada {
  width: 140px;
  height: 140px;
  border: 10px solid #fefeff;
  border-radius: 50%;
  /* background-image: url("img/Carpincho\ esperando\ frente\ a\ un\ rio.png"); */
  background-position: center;
  background-size: cover;
  margin: -0.5rem 0;
  z-index: 1;
}

.encabezado_nombresYprofesion {
  display: flex;
  flex-direction: column;
  color:#fefeff;
  justify-content: center;
}


.cv__izquierdo{
  padding: 11rem 0 0 0;
  background-color: #e6e1f3;
  flex-basis: 35%;

  font-weight: bold;
}
.cv__derecho{
  padding: 11rem 0 0 1rem;
  flex-basis: 65%;
  /* white-space:normal;
  word-wrap: break-word; */
  
  /* white-space:normal;
  word-wrap: break-word;
  word-break: break-all */  
  overflow: hidden;

}

.contacto__contenedor{
  width: 96%;
  
}
.contacto_lista {
  list-style-type: none;
}
.contacto_lista li{
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-top: 0.7rem;
  justify-content: space-between;
}
li.contacto__icon{
  justify-content: flex-start;
}

.contacto__titulo {
  background-color: #1f005d;
  border-right: 1px solid transparent;
  border-top-right-radius: 0.35rem;
  border-bottom-right-radius: 0.35rem;
  border-color: #1f005d;
  padding: 0.2rem;
  color: white;
  text-align: center;
}

.contacto__subtitulo {
  padding-left: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0rem;
}
.contacto__subtitulo::before {
  content: "";
  width: 0.35rem;
  height: 0.35rem;
  background: #000;
  border-radius: 100%;
  position: absolute;
  left: 0.5rem;
}

.progress{
  background-color: #010d59;
  height: 1.2rem;
  width: 8rem;  
  border-radius: 1rem;
  overflow: hidden;
  margin-right: 10%;

}
.progress-bar{  
  background-color: #f19d20;
  height: inherit;
  width: 30%;
  border-radius: 1rem;
  padding-left: .5rem;
  
}

.experienciaLaboral{
  border-left: 0.2rem solid #1e005c;
  position: relative;
  padding-left: 1rem;
}

.experienciaLaboral__titulo{
  top: -1rem;
  left: 0.7rem;
  position: relative;  
  background-color: #e2ddf0;
  border-radius: 1rem;
  width: 15rem;
  padding: 0.5rem;
  color: #240760;
  padding-left: 0.8rem;
}

.experienciaLaboral__titulo::before{
  content: "";
  width: 2rem;
  height: 0.2rem;
  background: #1e005c;
  position: absolute;
  top: 1rem;
  left: -1.7rem;
  z-index: -1;
}

.experienciaLaboral__subtitulo{
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
  
}

.experienciaLaboral__subtitulo::before{
  content:"";
  width: 0.8rem;
  height: 0.8rem;
  background-color: #1e005c;
  position: absolute;
  border-radius: 100%;
  left: -0.5rem;
}

.experienciaLaboral__elementos{
  margin-bottom: 2rem;
}
.experienciaLaboral__elementos section{
  margin-left: 1.55rem;
}